/* GENERAL *****************/

body{
    height: 100%;
    background: none !important;
}

a{
    cursor: pointer;
}

.right{
  float: right;
}

.center-block{
    float: none;
}

.margin-bottom{
    margin-bottom: 20px;
}

.small-margin{
    margin: 5px;
}

#menu-principal{
    h4{
        margin-top: 10px;
    }
}

//---BOTONES---//

.botones-centro{
    margin: 10px auto;
}

//------------//

/*****************************/



 /* CSS FOR LATERAL MENU***********************************


/* Toggle Styles */


#wrapper {
    color: @brand-primary;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    margin-right: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background-color: @brand-primary;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    #menu-toggle{
        position: absolute;
        top: 10px;
    }
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#menu-principal {
    width: 100%;
    padding: 15px 15px 0 15px;

    a{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5em;
        text-decoration: none;
        &:hover, &:focus{
            outline: none;

            i{
                color: @brand-primary;
            }
        }
    }
    .logo-home{
        margin-bottom: 10px;
    }
}

#wrapper.toggled #menu-principal {
    position: absolute;
    margin-right: 250px;
}

#wrapper.toggled #contenido{
    min-width: 250px;
    margin-right: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: solid 1px @white;

    &:last-child{
        border-bottom: none;
    }

    img{
        width: 100%;
        padding: 10px;
    }
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: @white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
    padding: 10px 0;
    text-align: center;
    a{
        text-transform: uppercase;
        margin-right: 20px;
    }
}

.sidebar-nav > .sidebar-brand a {
    color: @white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: @white;
    background: none;
}


#wrapper {
    padding-right: 0;
}

#wrapper.toggled {
    padding-right: 0;
}

#sidebar-wrapper {
    width: 0;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 20px 20px 0 20px;
}

#wrapper.toggled #menu-principal {
    position: relative;
    margin-left: 0;
}

//***********************************************************************


//PAGE CONTENT***********************************************************

.contenido{
    padding-top: 20px;

    h3{}

    h3{
        color: @brand-primary;
        text-align: center;
        border-top: solid 1px @brand-primary;
        box-sizing: padding-box;
        padding: 10px 0 0 0;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .logo-main{
        padding: 20px;
        border-top: solid 1px @brand-primary;
        border-bottom: solid 1px @brand-primary;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}




//2-PERMISOS-FACEBOOK*********************************

.permisos-facebook{
    height: 250px;
    overflow-y: scroll;
    border: solid 1px @gray;
    background-color: @white;
    margin-top: 30px;
    padding: 15px;
}

.aceptar-permisos{
    margin-top: 50px;
    padding: 5px 20px;
}

//****************************************************




//3-HOME***********************************************
.home{
    h3{
        border: none;
    }
    h4{
        text-align: center;
    }
}
.user-photo{
    width: 100%;
    height: auto;
    border: solid 4px @white;
}

.main-buttons{
    a{
        width: 48%;
        margin: 0 1%;
        padding: 10px 5px;
        float: left;
    }
}

.invitaciones-contenedor, .actividad-contenedor{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    padding: 10px;
    box-shadow: inset 1px 1px 5px #aaa;
    border-radius: 5px;
}

.invitacion-intercambio, .actividad-aviso{
    
    border-bottom: solid 1px @brand-primary;
    padding: 10px 0;

    &:last-child{ border: none; }

    img{ 
        border-radius: 50%;
    }

    a{
       width: 40%;
        margin: 0 5%;
        padding: 10px 5px;
        float: left; 
    }
}

//*****************************************************





//CUPON************************************************



//*****************************************************





//AMIGO SECRETO************************************************

.amigo-secreto{
    h3{
        margin-bottom: 10px;
    }

    p{
        text-align: center;
    }
}

//*****************************************************



//CREAR INTERCAMBIO ***********************************

.invite-friends{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.select-friends{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;

    ul{
        padding: 15px;
        li{
            list-style: none;
            background-color: @brand-primary;
            margin: 10px 0;
            padding: 10px 0; 
            color: @white;
            img{
                width: 20%;
                vertical-align: middle;  
            }
            input[type="checkbox"]{ margin-right: 15px; }

             p {
                display: inline-block;
                vertical-align: middle;
                padding: 0 10px;
                width: 80%;
                margin-bottom: 0;
            }
        }
    }
}

//*********************************************************************





//AGREGAR-AMIGOS ***********************************

.agregar-amigos{
    .select-friends{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 350px;
        box-shadow: inset 1px 1px 5px #333;
        border-radius: 5px;

        ul{
            padding: 15px;
            li{
                list-style: none;
                background-color: @brand-primary;
                margin: 10px 0;
                padding: 10px 0; 
                color: @white;

                img{ 
                    width: 20%;
                    vertical-align: middle;
                }
            }
        }    
    }
    div ul li p {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        width: 80%;
    }
}

//**************************************************




//CATALOGO******************************************

.catalogo{
    .prenda{
        margin: 10px auto;

        a{
            img{
                width: 100%;
            }
            p{
                text-decoration: none;
            }
        }
    }
}

//**************************************************





//YOUR MOMENTS******************************************

.your-moments{
    .botones-juntos{
        a{
            width: 48%;
            margin: 0 1%;
            float: left;
        }
    }
}

//**************************************************





//MENSAJES-SECRETOS******************************************

.mensajes-secretos{
    .mensajes-contenedor{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 350px;
        box-shadow: inset 1px 1px 5px #aaa;
        border-radius: 5px;
        background-color: @white;

        ul{
            padding: 15px;
            li{
                list-style: none;
                margin: 10px 0;
                padding: 10px 0; 
                color: #333;
                img{
                    width: 20%;
                    vertical-align: middle;  
                }
                input[type="checkbox"]{ margin-right: 15px; }

                p {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 10px;
                    width: 80%;
                    margin-bottom: 0;
                }
            }
        }
    }

    .amigos-contenedor{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 350px;
        box-shadow: inset 1px 1px 5px #aaa;
        border-radius: 5px;
        background-color: @white;
        p{
            padding: 10px;
        }

        ul{
            padding: 15px;
            li{
                list-style: none;
                margin: 10px 0;
                padding: 10px 0; 
                color: #333;
                a{
                    img{
                        width: 20%;
                        vertical-align: middle;  
                    }
                    input[type="checkbox"]{ margin-right: 15px; }

                    p {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 10px;
                        width: 80%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .datos-amigo{
        h3, p{
            text-align: center;
            margin-bottom: 5px;
        }
    }

    .enviar-mensaje{
        a{
            text-align: center;
        }
    }
}

//**************************************************





//EDITAR-INTERCAMBIO*********************************

.confirmados-contenedor, .pendientes-contenedor{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
    box-shadow: inset 1px 1px 5px #aaa;
    border-radius: 5px;
    background-color: @white;

    ul{
        padding: 15px;
        li{
            list-style: none;
            margin: 10px 0;
            padding: 10px 0; 
            color: #333;
            img{
                width: 20%;
                vertical-align: middle;  
            }
            input[type="checkbox"]{ margin-right: 15px; }

            p {
                display: inline-block;
                vertical-align: middle;
                padding: 0 10px;
                width: 80%;
                margin-bottom: 0;
            }
        }
    }
}

//***************************************************




